includes:
    - %ShopwareRoot%/src/Core/DevOps/StaticAnalyze/PHPStan/common.neon

parameters:
    tmpDir: var/cache/phpstan

    paths:
        - src
        - tests

    excludePaths:
        - src/Resources

    symfony:
        constant_hassers: false
        containerXmlPath: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
        consoleApplicationLoader: %ShopwareRoot%/src/Core/DevOps/StaticAnalyze/console-application.php

    type_perfect:
        narrow_return: true
        narrow_param: true
